[submodule "bts-ee-api"]
	path = bts-ee-api
	url = https://gitlab.com/bts-ee/bts-ee-api
[submodule "bts-ee-database"]
	path = bts-ee-database
	url = https://gitlab.com/bts-ee/bts-ee-database.git
[submodule "bts-ee-web"]
	path = bts-ee-web
	url = https://gitlab.com/bts-ee/bts-ee-web.git
[submodule "bts-ee-docs"]
	path = bts-ee-docs
	url = https://gitlab.com/bts-ee/bts-ee-docs.git
