[submodule "bts-ce-api"]
	path = bts-ce-api
	url = https://github.com/bodastage/bts-ce-api.git
[submodule "bts-ce-database"]
	path = bts-ce-database
	url = https://github.com/bodastage/bts-ce-database.git
[submodule "bts-ce-web"]
	path = bts-ce-web
	url = https://github.com/bodastage/bts-ce-web.git
[submodule "bts-ce-docs"]
	path = bts-ce-docs
	url = https://github.com/bodastage/bts-ce-docs.git
